* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background: url('https://cdn.prod.website-files.com/66fab24d6dde4d79b3b50865/67863748ecd6509cd452279a_NUSA%20PENIDA.webp');
    background-size: cover;
    }

.bg-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

.nav-link {
    margin: 10px;
}

.overlay {
    position: absolute;
    top: 20%;
    left: 10%;
    max-width: 400px;
}

.login-card {
    width: 350px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.9);
}

footer {
    background-color: rgb(43, 42, 42);
    padding: 8px;
    font-size: 80%;
}